<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
    <%- include('components/header') %>
    <div style="padding:0 30px;">
        <h1><%= title %></h1>
        <table class="categories">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <% for (const category of categories) { %>
                <tr>
                    <td><%= category.name %></td>
                    <td><%= category.description %></td>
                    <td>
                        <a class="btn btn-primary" href=<%= category.url + '/update' %>>
                            Edit
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href=<%= category.url + '/delete' %>>
                            Delete
                        </a>
                    </td>
                </tr>
                </a>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>