<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
    <%- include('components/header') %>
    <div style="padding:0 30px;">
        <h1><%= title %></h1>
        <table class="categories">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <% for (const category of categories) { %>
                <tr>
                    <td><%= category.name %></td>
                    <td><%= category.description %></td>
                    <td>
                        <a class="btn btn-primary" href=<%= category.url + '/update' %>>
                            Edit
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger" data-function="delete" data-id=<%= category._id %>>
                            Delete
                        </button>
                    </td>
                </tr>
                </a>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class="wrapper">
        <form method="POST" id="deleteForm">
            <p>Enter password for deleting category</p>
            <input type="text" name="adminPass" required>
            <button class="btn btn-danger">Send</button>
        </form>
    </div>

    <script>
        const deleteButtons = document.querySelectorAll("button[data-function=delete]");
        const deleteForm = document.getElementById('deleteForm');
        const formWrapper = deleteForm.parentElement;

        for (const button of deleteButtons) {
            button.onclick = (event) => {
                const deleteID = event.target.getAttribute('data-id');
                deleteForm.action = `category/${deleteID}/delete`;
                formWrapper.style.display = 'block';
            }
        }

        formWrapper.onclick = (event) => {
            if (deleteForm.contains(event.target)) {
                return;
            }

            formWrapper.style.display = 'none';
        }
    </script>
</body>

</html>