<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
  <%- include('components/header') %>
  <%- include('components/sidebar') %>

  <div class="items">
    <% for (const item of items) { %>
    <li>
      <a href="/item/<%= item._id %>">
        <%= item.name %>
      </a>
    </li>
    <% } %>
  </div>
</body>

</html>