<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
    <%- include('components/header') %>

    <div style="display: flex;">
        <%- include('components/sidebar') %>

        <div class="item-detail">
            <div style="display: flex; gap: 20px;">
                <div class="img">
                    <img src="/images/rubik.jpg" style="width: 300px; aspect-ratio: 1 / 1;" alt="rubik">
                </div>
                <div class="text">
                    <h1><%= item.name %> </h1>
                    <p>Category: <strong><%= item.category.name %></strong></p>
                    <p>Description: <em><%= item.description %></em></p>
                    <p>Price: <strong>$<%= item.price %></strong></p>
                    <p>Number in stocks: <strong><%= item.number %></strong></p>
                    <hr>

                    <div style="display: flex; gap: 5px">
                        <a class="btn btn-primary" href=<%= item.url + '/update' %>>Edit</a>

                        <button class="btn btn-danger" id="deleteButton">Delete</button>
                        <div class="wrapper">
                            <form method="POST" id="deleteForm" action=<%= item.url + '/delete' %>>
                                <p>Enter password for deleting item</p>
                                <input type="text" name="adminPass">
                                <button class="btn btn-danger">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const deleteButton = document.getElementById('deleteButton');
        const deleteForm = document.getElementById('deleteForm');
        const formWrapper = deleteForm.parentElement;

        deleteButton.onclick = () => {
            formWrapper.style.display = 'block';
        }

        formWrapper.onclick = (event) => {
            if (deleteForm.contains(event.target)) {
                return;
            }
            formWrapper.style.display = 'none';
        }
    </script>
</body>

</html>