<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
  <%- include('components/header') %>
  <%- include('components/sidebar') %>

  <div class="items">
    <% for (const item of items) { %>
    <li>
      <a href="/item?category=<%= category._id %>">
        <%= category.name %>
      </a>
    </li>
    <% } %>
  </div>
  <div>
    <%= categories %>
  </div>
  <hr>
  <div>
    <%= items %>
  </div>
</body>

</html>