<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
    <%- include('components/header') %>

    <div style="display: flex;">
        <%- include('components/sidebar') %>

        <div class="item-detail">
            <div style="display: flex; gap: 20px;">
                <div class="img">
                    <img src="/images/rubik.jpg" style="width: 300px; aspect-ratio: 1 / 1;" alt="rubik">
                </div>
                <div class="text">
                    <h1><%= item.name %> </h1>
                    <p>Description: <em><%= item.description %></em></p>
                    <p>Price: <strong>$<%= item.price %></strong></p>
                    <p>Number in stocks: <strong><%= item.number %></strong></p>
                    <hr>

                    <div style="display: flex; gap: 5px">
                        <a class="btn btn-primary" href=<%= item.url + '/update' %>>Edit</a>
                        <form method="POST" action=<%= item.url + '/delete' %>
                            onsubmit="return confirm('You really want to delete this item?')">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>