<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
  <%- include('components/header') %>
  <%- include('components/sidebar') %>

  <div class="items">
    <% for (const item of items) { %>
    <a href="/item/<%= item._id %>">
      <%- include('./components/cardItem', {item: item}) %>
    </a>
    <% } %>
  </div>
</body>

</html>